.gl-text-left
  = render Pajamas::CardComponent.new do |c|
    - c.with_body do
      %h5
        = sprite_icon('tanuki-ai', css_class: 'gl-mr-2')
        = s_('CodeSuggestions|Introducing the GitLab Duo Pro add-on')
      %p
        - docs_link_url = help_page_path('user/project/repository/code_suggestions/index')
        - docs_link = link_to('', docs_link_url, target: '_blank', rel: 'noopener noreferrer')
        - duo_pro_link = link_to('', 'https://about.gitlab.com/gitlab-duo/', target: '_blank', rel: 'noopener noreferrer')

        = safe_format(s_("CodeSuggestions|Boost productivity by using %{linkStart}Code Suggestions%{linkEnd} to write and understand code. Starting in February 2024, Code Suggestions will be part of %{duoLinkStart}GitLab Duo Pro%{duoLinkEnd}, available to Premium and Ultimate users for purchase now."),
          tag_pair(docs_link, :linkStart, :linkEnd), tag_pair(duo_pro_link, :duoLinkStart, :duoLinkEnd))
      .gl-display-flex.gl-flex-direction-column.gl-sm-flex-direction-row.gl-gap-3
        - if Feature.enabled?(:duo_pro_trials, current_user, type: :wip)
          = render 'duo_pro_trial_cta',
            namespace: @group,
            button_category: 'primary',
            button_options: { data: { event_tracking: 'click_duo_pro_trial_billing_page' } }

        .js-hand-raise-lead-button{ data: code_suggestions_hand_raise_props(@group) }
